.footer_section .about_section {
  grid-column: span 3/span 3
}

@media (min-width:1200px) {
  .footer_section .about_section {
    grid-column: span 1/span 1
  }
}

.footer_section .social {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: .5rem
}

.footer_section .social a {
  align-items: center;
  border-radius: 9999px;
  border-width: 1px;
  display: inline-flex;
  height: 2.25rem;
  justify-content: center;
  width: 2.25rem;
  --tw-border-opacity: 1;
  border-color: rgb(41 57 140/var(--tw-border-opacity));
  --tw-text-opacity: 1;
  color: rgb(41 57 140/var(--tw-text-opacity));
  transition-duration: .3s;
  transition-property: all;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1)
}

.footer_section .social a:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(41 57 140/var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(255 255 255/var(--tw-text-opacity))
}

.footer_section .access_links ul li {
  margin-bottom: .25rem
}

.footer_section .access_links ul li:last-child {
  margin-bottom: 0
}

.footer_section .access_links ul li a {
  transition-duration: .15s;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1)
}

.footer_section .access_links ul li a:hover {
  --tw-text-opacity: 1;
  color: #49ceb4
}

.footer_section .top_title {
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.75rem;
  margin-bottom: .5rem;
  --tw-text-opacity: 1;
  color: rgb(0 0 0/var(--tw-text-opacity))
}

.footer_section .subscribe_form {
  border-radius: 9999px;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255/var(--tw-bg-opacity))
}

.footer_section .subscribe_form .input_wrapper {
  margin-bottom: 0
}

.footer_section .subscribe_form .input_wrapper input {
  border-radius: 9999px;
  border-style: none
}

.footer_section .subscribe_form .input_wrapper input:-internal-autofill-selected {
  background-color: #fff !important
}

.footer_section .subscribe_form button {
  --tw-bg-opacity: 1;
  background-color: rgb(41 57 140/var(--tw-bg-opacity));
  padding: 1rem
}